* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: nowrap;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 16px;
}

/* https://stackoverflow.com/questions/1165497/how-to-prevent-text-from-overflowing-in-css */
p {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}


.responsive {
    width: 100%;
    height: auto;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-title {
    font-size: 1.25rem; /* Adjust the font size as needed */
  }

  .card-text {
    font-size: 0.875rem; /* Adjust the font size as needed */
  }

#banner {

    object-fit: cover;
    object-position: 100% 50%;
    max-height: 48vh;
}

#profile {
    border-radius: 50%;
    display: inline;
    max-height: 26vh;
    position: absolute;
    left: 7.5vh;
}

#name {
    margin-top: 10vh;
    position: absolute;
    left: 40vh;
}

#horizontal-line {
    margin-top: 27vh;
    background-color: black;
}

#profile2 {
    border-radius: 50%;
    max-height: 7vh;
}

#name2 {
    margin-top: -7.5vh;
    position: absolute;
    left: 11vh;
    display: block;
}

#time {
    margin-top: -4vh;
    position: absolute;
    left: 11vh;
    font-size: 12px;
}

/* Most Device */
@media screen and (max-width: 428px) {
    #profile {
        max-height: 10vh;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #name {
        position: absolute;
        top: 24%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #horizontal-line {
        margin-top: 13vh;
    }

}

/* Small Device */
@media screen and (max-width: 375px) {
    #profile {
        max-height: 10vh;
        position: absolute;
        top: 27%;
        left: 50%;  
        transform: translate(-50%, -50%);
    }

    #name {
        position: absolute;
        top: 27%;
        left: 50%;  
        transform: translate(-50%, -50%);
    }

    #horizontal-line {
        margin-top: 17vh;
    }


}

