@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');

@layer base {
  @font-face {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/Inter28pt.ttf) format('ttf');
  }
}

h1 {
  @apply ml-4 my-4 text-2xl sm:text-4xl font-bold font-inter
}

h2 {
  @apply ml-8 font-semibold sm:text-xl
}

h3 {
  @apply ml-8 text-lg
}

li {
  @apply rounded-lg pr-2 py-1 text-zinc-800 opacity-90 hover:opacity-100
}

hr {
  @apply dark:border-zinc-700
}

.skill-container {
  @apply flex items-center justify-center rounded-lg max-w-fit gap-1
}

.card {
  @apply dark:bg-zinc-800 sm:rounded-lg bg-zinc-50 shadow-xl
}

.icon {
  @apply sm:h-8 sm:w-8 h-7 w-7 
}

.link-container {
  @apply items-center mr-8 flex  gap-2
}

.project-title-container {
  @apply min-w-28
}